.characteristics-section {
  display: flex;
  flex-direction:  column;
  align-items: center;
  gap: 80px;

  .characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    article {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}