.steps-section {
  display: flex;
  flex-direction: column;
  gap: 115px;
  align-items: center;

  .steps {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      h3 {
        color: var(--color-dark);
        font-family: var(--font-Nunito);
        font-size: 2rem;
        font-weight: 600;
      }

      p {
        text-align: center;
      }
    }

    .step-0 {
      @keyframes show1 {
        from {
          opacity: 0;
          translate: 0 100%;
        }

        to {
          translate: 0 0%;
          opacity: 1;
        }
      }

      view-timeline-axis: block;
      animation-timeline: --body;
      animation-name: show1;
      animation-range: entry 0% cover 40%;
    }
    .step-2 {

    }
    .step-3 {

    }
  }

  @media (max-width: 992px) {
    gap: 50px;
    .steps {
      flex-direction: column;
    }
  }
}